/*
Copyright par Daniel Lemire
*/

BODY {
   background-color: white;
   color:#000000;
   text-align: justify;
   font-family:Arial,Helvetica,"sans serif";
}

p,div,ul
{
	font-family:Arial,Helvetica,"sans serif";
	color: black;
	background:transparent;
}

p.COMMENTAIRE 
{
	font-style : italic;
	text-align : center;
	background : yellow;
}
P.TITRE {
	color: black;
	text-align : center;	
	font-style : normal; 
   	font-weight : bold; 
   	font-family : Arial, Helvetica, "sans serif"; 
	background : transparent;
}

P.AUTEUR {
	color: #990000;
	font-size : 0.7em; 
	text-align : center;	
	font-style : normal; 
   	font-weight : bold; 
   	font-family : Arial, Helvetica, "sans serif"; 
	background : transparent; 

}

P.DESCRIPTION {
	color: black;
	text-align : justify;	
	font-style : italic; 
   	font-weight : normal; 
   	font-family : Arial, Helvetica, "sans serif"; 
	background : #ffcccc;
	border:thin dotted #800080;
}

SMALL {
   font-size : 0.7em; 
}

PRE {
   font-size : 0.8em; 
}

P.PUBICON {
   text-align : center; 
}

P.INDENTE {
   text-align : left; 
   margin-left : 3em; 
}


H3 {
   font-family:Arial,Helvetica,"sans serif";
   text-align : center;
}

H4 {
   font-family:Arial,Helvetica,"sans serif";
}



ADDRESS {
   font-size : 10pt; 
}


.MAINTEXT {
   color : black; 
   background-color : white; 
   background-image : none; 
}

.LOGO {
   color : white; 
   background-color : #0863AD; 
}

.DETAILADROITE {
   font-style : italic; 
   font-size : 0.7em; 
   font-family : Arial, Helvetica, "sans serif"; 
   text-align : right; 
}

.DETAIL {
   font-style : italic; 
   font-size : 0.8em; 
   font-family : Arial, Helvetica, "sans serif"; 
   text-align : left; 
}


form 
{
} 



ADDRESS {font-size: 10pt;}
SMALL {font-size: 0.5em;}

h1
{
	font-family:Arial,Helvetica,"sans serif";
	text-transform:uppercase;
	color:black;
	font-size:x-large;
	font-weight:bold;
	text-align:center;
}

li{
   display:block;
   /*padding-top : 1em;*/
   margin-top : 1em;
   font-family:Arial,Helvetica,"sans serif";
   list-style-type: square;
}

h2
{
	font-family:Arial,Helvetica,"sans serif";
	color:black;
	font-size:x-large;
	font-weight:bold;
	text-align:center;
	background:transparent;
}







@media print {
	BODY {
		background-color: white;
		color:#000000;
	}
}
